.level3Container {
	height: 100vh;

	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;

	background: url("https://res.cloudinary.com/fiba06-dev/image/upload/v1663026159/pokecards/2952733_m3yqfi.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: black;
}

@media (min-width: 1080px) {
	.cardsContainer {
		width: 90vw;
	}
	.level3Container {
		height: 100vh;

		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;

		background: url("https://res.cloudinary.com/fiba06-dev/image/upload/v1662638523/pokecards/lvl2_background_qayc23.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}
