.level5Container {
	height: 100vh;
	max-height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;

	background: url("https://res.cloudinary.com/fiba06-dev/image/upload/v1662745243/pokecards/abra_prr51q.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	background-color: black;
}
.lvl5CardsContainer {
	width: 96vw;
	height: 70vh;
}
@media (min-width: 1080px) {
	.lvl5CardsContainer {
		width: 90vw;
	}
	.level5Container {
		background: url("https://res.cloudinary.com/fiba06-dev/image/upload/v1662745243/pokecards/abra_prr51q.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-color: black;
		background-position: bottom;
	}
}
