.level2Container {
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;

	background: url("https://res.cloudinary.com/fiba06-dev/image/upload/v1663025760/pokecards/wp2395307-butterfree-hd-wallpapers_dc0sfw.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: rgb(55, 148, 234);
}
.cardsContainer {
	width: 96vw;
}
@media (min-width: 1080px) {
	.cardsContainer {
		width: 44vw;
	}
	.level2Container {
		background: url("https://res.cloudinary.com/fiba06-dev/image/upload/v1663025548/pokecards/wp2395266-butterfree-hd-wallpapers_vbrmfj.png");
		background-repeat: no-repeat;
		background-size: cover;
	}
}
