@keyframes buttonColor {
	0% {
	}
	50% {
		scale: 1.1;
	}
	100% {
		scale: 1;
	}
}
.volume {
	-webkit-appearance: none; /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 3px; /* Specified height */
	background: rgb(88, 88, 241);
	border-radius: 3px; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
	transition: opacity 0.2s;
}
.volume::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 12px; /* Set a specific slider handle width */
	height: 12px;
	border-radius: 12px; /* Slider handle height */
	background-color: rgb(255, 225, 0); /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.volume::-moz-range-thumb {
	width: 12px; /* Set a specific slider handle width */
	height: 12px;
	border-radius: 12px; /* Slider handle height */
	background-color: rgb(255, 225, 0); /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.reproductorMusica {
	position: absolute;
	top: 20px;
	right: 10px;
}
.botonesMusica {
	background-color: rgb(255, 225, 0);
	border: solid 2px rgba(88, 88, 241, 0.986);

	color: rgb(88, 88, 241);
	font-size: 12px;
	margin-left: 5px;
	border-radius: 10px;
	cursor: pointer;
}
.iconos {
	height: 8px;
	width: 8px;
}
.homeContainer {
	height: 100vh;
	width: 100vw;

	background: url("https://res.cloudinary.com/fiba06-dev/image/upload/v1662762390/pokecards/wp8155220-pokemon-gen-1-wallpapers_woylzt.jpg");
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-size: contain;
	background-position: center;

	background-color: rgb(255, 255, 255);
}
@media (min-width: 1080px) {
	.homeContainer {
		background: url("https://res.cloudinary.com/fiba06-dev/image/upload/v1662638515/pokecards/home_background_gtv0s4.webp");
		background-size: contain;
	}
	.reproductorMusica {
		position: absolute;
		top: 50px;
		right: 100px;
	}
}

.pokelogo {
	width: 50vw;
}

.buttonStart {
	border-radius: 10px;
	background-color: transparent;
	border: none;
	font-size: 3vh;
	font-weight: 800;
	color: rgb(88, 88, 241);
	background-color: rgb(255, 225, 0);
	border: 3px solid rgb(88, 88, 241);
	font-family: "Josefin Sans", sans-serif;
	align-self: center;
	justify-self: center;
	animation: buttonColor 1.5s infinite;
	cursor: pointer;
}
