.card {
	position: relative;
	width: 50px;
	height: 75px;
	cursor: pointer;
}
.card_front_img {
	width: 50px;
	height: 75px;
}

.card_back_img {
	height: 75px;
}
.mostrar {
	position: relative;
	width: 50px;
	height: 75px;
}

.card_back_button {
	background-color: transparent;
	border: none;
}
.card_back {
	transform: perspective(600px) rotateY(180deg);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	border: solid 1px rgba(151, 151, 151, 0.329);

	/* box-shadow: 0 5px 10px #000;
	background: rgba(14, 14, 14, 0.413); */
}
.fire {
	background-color: rgba(138, 138, 138, 0.075);
	filter: drop-shadow(0px 20px 10px rgb(192, 0, 0));
}
.grass {
	background-color: rgba(255, 106, 0, 0);
	filter: drop-shadow(0px 20px 10px rgb(16, 125, 36));
}
.water {
	background-color: rgba(255, 106, 0, 0);
	filter: drop-shadow(0px 20px 10px rgb(29, 98, 227));
}
.poison {
	background-color: rgba(255, 106, 0, 0);
	filter: drop-shadow(0px 20px 10px rgb(144, 29, 227));
}
.bug {
	background-color: rgba(255, 106, 0, 0);
	filter: drop-shadow(0px 20px 10px rgb(174, 155, 11));
}
.electric {
	background-color: rgba(255, 106, 0, 0);
	filter: drop-shadow(0px 20px 10px rgb(251, 255, 0));
}
.ground {
	background-color: rgba(255, 106, 0, 0);
	filter: drop-shadow(0px 20px 10px rgb(239, 155, 0));
}
.rock {
	background-color: rgba(255, 106, 0, 0);
	filter: drop-shadow(0px 20px 10px rgb(165, 93, 42));
}
.fighting {
	background-color: rgba(255, 106, 0, 0);
	filter: drop-shadow(0px 20px 10px rgb(133, 151, 175));
}
.psychic {
	background-color: rgba(255, 106, 0, 0);
	filter: drop-shadow(0px 20px 10px rgb(231, 62, 214));
}
.ghost {
	background-color: rgba(60, 20, 56, 0.585);
	filter: drop-shadow(0px 20px 10px rgb(60, 20, 56));
}
.card .card_front {
	transform: perspective(600px) rotateY(0deg);
	border: solid 2px black;
	box-shadow: 0 5px 10px #000;
}
.face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 10px;
	overflow: hidden;

	/* box-shadow: 0 5px 10px #000; */

	transition: 0.5s;
}

.mostrar .card_front {
	transform: perspective(600px) rotateY(180deg);
	-webkit-transform: perspective(600px) rotateY(180deg);
	-moz-transform: perspective(600px) rotateY(180deg);
	cursor: pointer;
}
.mostrar .card_back {
	transform: perspective(600px) rotateY(360deg);
	-ms-transform: perspective(600px) rotateY(360deg);
	-webkit-transform: perspective(600px) rotateY(360deg);
	cursor: pointer;
}

@media (min-width: 1300px) {
	.card {
		position: relative;
		width: 100px;
		height: 150px;
		cursor: pointer;
	}
	.card_front_img {
		height: 150px;
		width: 100px;
	}
	.card_back_img {
		height: 150px;
	}
	.mostrar {
		position: relative;
		width: 100px;
		height: 150px;
	}
}
