.cards_container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	gap: 0.1rem;
}

@media (min-width: 1080px) {
	.cards_container {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		gap: 0.5rem;
		margin-left: 10px;
		margin-right: 10px;
	}
}
.reproductorMusica {
	position: absolute;
	top: 20px;
	right: 10px;
}
.icon-ff:before {
	content: "23E9";
}
.icon-ff--standard:before {
	content: "23E9FE0E";
}
.botonesMusica {
	background-color: rgb(255, 225, 0);
	border: solid 2px rgba(88, 88, 241, 0.986);
	width: 40px;
	color: rgb(88, 88, 241);
	font-size: 12px;
	margin-left: 5px;
	border-radius: 10px;
	cursor: pointer;

	font-family: "Segoe UI Symbol";
}
