.level6Container {
	height: 100vh;

	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;

	background: url("https://res.cloudinary.com/fiba06-dev/image/upload/v1663027691/pokecards/d9uq5rg-87b188e7-c6aa-4b81-a946-a42f8dbe7bae_sg7jsh.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	background-color: rgba(231, 181, 223, 0.487);
}

@media (min-width: 1080px) {
	.cardsContainer {
		width: 90vw;
	}
	.level6Container {
		background: url("https://res.cloudinary.com/fiba06-dev/image/upload/v1663027753/pokecards/wp2231091-ponyta-wallpapers_drtuft.jpg");
		background-repeat: no-repeat;
		background-size: contain;
		background-color: black;
		background-position: bottom;
	}
}
