.App {
	min-height: 95vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	padding-top: 60px;
	font-size: calc(10px + 2vmin);
	color: white;
	background: url("./components/images/pokemon_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
body {
	box-sizing: content-box;
}
